.sign-up {
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.input_format {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input1 {
  width: 600px;
  height: 50px;
  flex-shrink: 0;
  background: #a4a2a2;
  text-align: left;
  font-family: Kufam;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.parent_font {
  color: #fff;
  text-align: center;
  font-family: Kufam;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  margin-top: 60px;
  margin-bottom: 10px;
}

.parent_font1 {
  color: #fff;
  text-align: center;
  font-family: Kufam;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 10px;
}

.parent_font3 {
  color: #fff;
  text-align: center;
  font-family: Kufam;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 10px;
}

.textbox1 {
  background-color: #79f87e;
  width: 300px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.content {
  color: black;
  font-family: Kufam;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  border: #79f87e;
  background-color: #79f87e;
}

.text {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turntosignup {
  text-decoration: underline;
  cursor: pointer;
}
