#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 16rem;
  height: calc(100vh - 4rem);
  padding: 2rem;
  background-color: #22303d;
}

#container {
  display: flex;
  flex-direction: row;
}

#right-content {
  flex-grow: 1;
  margin-left: 20rem;
}

#navbar .top {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 100%;
  height: 8rem;
}

#navbar .top img {
  height: 100%;
}

#navbar .title {
  /* font-family: 'Holtwood One SC', serif; */
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: white;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .footnote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

#navbar .footnote button {
  background-color: white;
  color: #22303d;
}

#navbar .footnote .profile {
  position: relative; /* Add this line to make it a positioned ancestor */
  height: 4rem;
  cursor: pointer;
}

#navbar .footnote .profile img {
  height: 100%;
}

#navbar .dropdown-menu {
  position: absolute;
  bottom: 120%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

#navbar .dropdown-menu-item {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

#navbar .dropdown-menu-item:hover {
  background-color: #f0f0f0;
}

.title {
  color: black;
  
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin-left: 2%;
}

.title1 {
  color: black;
  
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin-left: 2%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile_category {
  color: black;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  margin-left: 2%;
}

.profile_category1 {
  /* background-color: grey;
  opacity: 75%;
  padding: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-top: 0vh;
  left: 50%;
  transform: translate(-50%, -50%); */
  transition: opacity 0.3s ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #ffffff; /* Or any color you prefer */
  font-size: 24px; /* Adjust the size of the icon as needed */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Optional: Adds a semi-transparent background */
  padding: 10px;
  border-radius: 50%;
}

.profile_category1.hover-background {
  background-color: grey;
  opacity: 60%;
  border-radius: 50%;
}

.file-upload-input:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.go-login {
  cursor: pointer;
  background-color: #22303d;
  color: white;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: padding 0.3s ease;
  margin-top: 5px;
}
.go-signup {
  cursor: pointer;
  background-color: #22303d;
  color: white;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: padding 0.3s ease;
  margin-top: 5px;
}

.sidebar {
  background-color: rgb(33, 32, 32);
  width: 25%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-button {
  background-color: white;
  align-self: flex-start;
  color: #22303d;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  border-radius: 50%;
}

.sidebar-avatar_button {
  background-color: rgb(33, 32, 32);
  color: white;
  border: 0.5px;
  padding: 15px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: left;
}

.sidebar_width1 {
  width: 10%;
  align-items: flex-start;
}

.sidebar-username {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(33, 32, 32);
  color: white;
  font-family: 'Holtwood One SC', serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
}

.font_for_musiclist {
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.sidebar_container1 {
  display: flex;
  align-items: center;
  background-color: rgb(33, 32, 32);
}

.main-content {
  margin-left: 25%;
  background-color: black;
}

.homepage2_main_content {
  margin-left: 25%;
  margin-right: 25%;
  background-color: black;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
}

.homepage2_avatar_bar {
  margin-left: 75%;
  margin-top: 15%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar_edit_icon {
  cursor: pointer;
  position: relative;
  font-size: 30px;
}

.avatar_edit_icon:hover {
  cursor: pointer;
  position: relative;
}

.hp-title {
  margin-left: 2%;
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: white;
}

.music-list ul {
  list-style-type: none;
  padding: 20;
}

.music-list input[type='checkbox'] {
  margin-left: 0px;
  margin-right: 10px;
}

.homepage_img_input {
  border-radius: 40px;
  width: 50px;
  height: auto;
  padding: 15px;
  cursor: pointer;
}

.logo_container {
  background-color: rgb(33, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.sidebar_container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.sidebar_container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 16rem;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  color: #22303d;
  border-radius: 30px;
  font-style: normal;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.sidebar_container2:hover {
  background-color: white;
}

.sidebar_container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 32, 32);
  height: 100hv;
}

.gallery_logo_container {
  background-color: rgb(33, 32, 32);
  display: flex;
  align-items: center;
  height: 100px;
  flex-direction: row;
}

.expand-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.music-list label {
  color: white;
  margin-bottom: 1px;
}

.music-list li {
  margin-bottom: 1.5px;
}

.music-list {
  margin-bottom: 10px;
  margin-left: 0px;
}
.music-list {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 1px;
}

.music-list::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

.music-list::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}

.file-upload {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px; /* Optional: for rounded corners */
  height: 130px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px dashed rgb(76, 68, 68);
}

.file-upload label {
  display: block;
  margin-bottom: 10px;
}

.file-upload input[type='file'] {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-left: 20%;
}

.upload-button {
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
  background-color: #79f87e;
  color: black;
  border-radius: 30px;
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.avatar_uploaded_homepage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.avatar_uploaded_homepage2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: relative;
  margin-top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon_button {
  cursor: pointer;
}

.video-placeholder {
  background-color: rgb(5, 5, 5);
  height: 450px;
  width: 80%;
  margin: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
}

.login {
  justify-content: right;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.login button {
  color: black;
  border: 5px rgb(148, 146, 146);
  border-radius: 30px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  background-color: #79f87e;
  font-size: 18px;
}

.control-bar {
  width: 100%;
  height: 80px;
  background-color: rgb(155, 155, 155);
  margin-bottom: 0px;
  margin-top: 8%;
  visibility: hidden;
}

.generate {
  padding: 10px;
  border-radius: 15px;
  color: black;
  margin-left: 15px;
  max-width: 180px;
  margin-top: 15px;
  font-weight: bold;
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  background-color: #79f87e;
}

.play {
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-left: 450px;
  max-width: 180px;
  margin-top: 5px;
  font-weight: bold;
  font-family: 'Holtwood One SC', serif;
  font-weight: 400;
  font-style: normal;
  background-color: #79f87e;
}

.avatar {
  margin-left: 20px;
  margin-right: 100px;
  position: relative;
  display: inline-block;
}

.imors-history {
  padding: 20px;
}

.imors-history-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.imors-history-content {
  display: flex;
  flex-direction: column;
}

.history-record {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.record-icon {
  margin-right: 10px;
  font-size: 24px;
}

.record-info {
  display: flex;
  flex-direction: column;
}

.record-date {
  font-weight: bold;
}

.record-activity {
  margin-top: 5px;
}
