#auth {
  background-image: url('../../../public/auth-background.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#auth form {
  background-color: white;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}

#auth form img {
  width: 40%;
}

#auth form input {
  background-color: rgb(240, 240, 240);
  height: 2rem;
  width: 16rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#auth form button.submit-button {
  width: 16rem;
}

.logo_style {
  border-radius: 50%;
}
