* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "Myanmar Khyay";
  src: url("fonts/Khyay-Regular.ttf") format("truetype");
}

body {
  line-height: 1;
  font-family: "Myanmar Khyay";
  color: #22303D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
