.song-list {
    height: calc(100vh - 20rem);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.song-list::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: hide scrollbar gutter */
}

/* Optional: customize scrollbar track and thumb appearance */
.song-list::-webkit-scrollbar-track {
    background: transparent;  /* Optional: hide scrollbar track */
}

.song-list::-webkit-scrollbar-thumb {
    background-color: transparent;  /* Optional: hide scrollbar thumb */
    border: none;  /* Optional: remove scrollbar thumb border */
}

.song-list .song-item {
    color: white;
    cursor: pointer;
}

.delete-icon{
    margin-left: 10px;
}